[submodule "extern/ENCRYPTO_utils"]
	path = extern/ENCRYPTO_utils
	url = git@github.com:robinhundt/ENCRYPTO_utils.git
[submodule "extern/OTExtension"]
	path = extern/OTExtension
	url = https://github.com/encryptogroup/OTExtension.git
